/* @global */

body {
  width: 80%;
  margin: 0 auto 0 auto;
}

/* @components/layout/Navbar.js */

.navbar-expand-lg {
  width: 80%;
  margin: 0 auto 0 auto;
}

/* @components/products/Products.js */

.container {
  margin: 0;
  max-width: 100%;
}
