/* @global */
html {
  background-color: antiquewhite;
}

body {
  width: 80%;
  margin: 0 auto 0 auto;
}

/* @components/layout/Navbar.js */

/* @components/product/Description.js */

/* @components/product/Product.js */
.ratings {
  display: none;
}

.description {
  display: block;
}

.container {
  margin: 0;
  max-width: 100%;
}
