/* @global */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
}

html {
  background-color: antiquewhite;
  scroll-behavior: smooth;
}

body {
  // width: 80%;
  margin: 0 auto 0 auto !important;
  font-family: Roboto !important;
  background-color: rgba(110, 110, 110, 0.25);
}

.row {
  margin: 0;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.ttf) format("truetype");
}

// @font-face {
//   font-family: JosefinSans;
//   src: url(fonts/josefin-sans/JosefinSans-Regular.ttf) format("truetype");
// }

/* @app.js */
#alert_container {
  position: absolute;
  z-index: 99;
  top: 13rem;
  width: 100%;
}

/* @component/layout/Landing.js */
#landing_container {
  margin-top: 5rem;
}

.d-block {
  margin: 0 auto;
  max-width: 1200px !important;
  max-height: 700px;
  width: auto;
  height: auto;
}

/* @component/layout/Footer.js */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 3rem;
  width: 100%;
  background-color: grey;
  bottom: 0;
}

/* @components/layout/LoaderSkeletonProduct.js */
$border-color: #dae1e7;
$background-color: #f4f4f4;
$text-color: #333;

.skeleton_container {
  margin: 2rem auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.skeleton_card {
  overflow: hidden;
  background: white;
  border-radius: 0.25rem;
  max-width: 380px;
  width: 380px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05),
    0 5px 15px 0 rgba(0, 0, 0, 0.05);
  transition: ease box-shadow 0.3s;
  &:hover {
    box-shadow: 0 15px 60px 0 rgba(0, 0, 0, 0.08),
      0 5px 25px 0 rgba(0, 0, 0, 0.08);
  }
}

.skeleton_card-detail {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  h3 {
    font-size: 1.5rem;
    margin-bottom: none;
    line-height: 0.09;
  }

  p {
    line-height: 1.3rem;
  }
}

.skeleton_card-image {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 17.5rem;

  img {
    max-width: 100%;
    height: auto;
  }
}

/* @components/layout/LoaderSkeletonProduct.js */
#loader_skeleton_product {
  margin-top: 8rem;
  height: 31rem;
}

/* animation for LoaderSkeletonProducts & LoaderSkeletonProducts */
.loading {
  position: relative;
  background-color: #dcdcdc;

  &.card-image {
    border-radius: 0;
  }

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: linear-gradient(90deg, transparent, white, transparent);
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.skeleton_card-title.loading {
  height: 1.8rem;
}

.skeleton_card-image.image {
  max-width: 100%;
  height: auto;
}

.skeleton_card-description.loading {
  height: 3rem;
}

/* @components/account UserDataForm.js & UserPasswordForm.js*/
.label {
  font-size: 1rem;
}

.fa-user-edit {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

/* @components/account/Account.js */
.form_container {
  margin-top: 8rem;
}

/* @components/account/UserDataForm.js & UserPasswordForm.js */
.fa-user-edit {
  cursor: pointer;
}

/* @components/auth/Login.js */
#log_in {
  margin-top: 8rem;
}

.alert-success {
  background: var(--success-color);
  opacity: 0.9;
  color: #fff;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

/* @components/navbar/Navbar.js */
#navbar {
  width: 100%;
  background-color: grey;
}

#brand-container {
  margin: 0;
}

#brand {
  font-size: 1rem;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  color: white;
}

#nav_item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.nav_items,
.nav_items:visited {
  color: white;
}

#cart_navigation_quantity {
  // position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // top: 50%;
  // left: 50%;
  background-color: rgb(218, 221, 217);
  color: black;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  font-size: 12px;
  line-height: 12px;
  transform: translate(16px);
}

/* @components/navbar/AccountIcon.js */
#menu {
  display: none;
  width: 6.5rem;
  right: 0;
}

#menu:hover {
  position: absolute;
  display: block;
}

#account_icon:hover ~ #menu {
  position: absolute;
  display: block;
}

/* @components/navbar/CartIcon.js */
.fa-shopping-cart {
  font-size: 1.25rem;
  transform: translate(0, -6px);
}

/* @components/navbar/Menus.js */
#navbar_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1rem;
  z-index: 100;
}

.navbar_menu_text {
  color: white;
}

/* @components/search/Search.js */
#search_form_container {
  position: absolute;
  z-index: 0;
  top: 7rem;
  width: 100%;
}

.form-inline {
  width: fit-content;
  margin: 0 auto;
}

#search_form {
  width: 14rem;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

/* @components/cart/Cart.js */
#cart_container {
  position: relative;
  margin-top: 8rem;
}

#grand_total {
  position: absolute;
  right: 0;
}

/* @components/cart/LineItem.js */
#line_item_row {
  position: relative;
  margin-top: 2rem;
}

#delete_line_icon {
  position: absolute;
  right: 0;
}

/* @components/cart/LineItemImages.js */
#line_item_images {
  width: 20rem;
}

/* @components/cart/QuantityField.js */
#quantity_input {
  max-width: 25%;
  text-align: center;
}

/* @components/cart/RemoveLineItem.js */
#delete_line_icon {
  cursor: pointer;
}

/* @components/cart/RemoveLineItemSecurityQuery.js */
#security_query_container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  background-color: rgba(10, 10, 10, 0.45);
}

#security_query {
  margin: 0 auto;
  background-color: rgba(10, 10, 10, 0.5);
  padding: 1rem;
  border-style: solid;
  border-color: red;
}

#security_query_text {
  color: white;
  font-weight: bold;
}

#security_query_buttons {
  display: flex;
  justify-content: center;
}

#security_query_buttons button {
  margin: 1rem;
}

/* @components/order/OrderHeaders.js */
#order_headers {
  cursor: pointer;
  margin-top: 1rem;
}

#order_headers:hover {
  background-color: #b3b3b3;
}

.not_render_orders {
  display: none !important;
}

/* @components/order/Orders.js */
#orders_header_container {
  margin-top: 8rem;
}

#orders_container {
  background-color: grey;
}

/* @components/products/Products.js */
.products_container {
  width: auto;
  max-width: 100%;
  padding: 0;
  margin-top: 8rem;
}

/* @components/products/ProductItems.js */
#products {
  padding: 0;
  background-color: rgba(240, 236, 234, 0.5);
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

/* @components/products/ProductImages.js */
#product_images {
  width: 100%;
  height: 17.5rem;
}

/* @components/product/Product.js */
#product_page_container {
  margin-top: 8rem;
  max-width: 100%;
}

#return_to_products_button {
  position: absolute;
  align-items: flex-start;
  margin-top: 0.5rem;
  right: 0;
}

#add_to_shopping_cart {
  position: absolute;
  bottom: 0;
}

#rev_desc_links {
  margin: 1rem 0;
}

#ratings {
  flex-direction: column;
  /* display: none; */
  padding: 0;
  margin: 0;
}

#rating_statistics {
  width: 100%;
}

#rating_statistics_right {
  position: relative;
}

#rating_form {
  display: none;
}

#rate_product_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#average_stars_in_statistics {
  display: flex;
  margin-top: 1.5rem;
}

/* @components/rating/Ratings.js */
#review_card {
  width: 100%;
  margin-top: 1rem;
}

/* @components/rating/RatingForm.js */
input[type="radio"] {
  display: none;
}

/* @components/rating/RatingStatistics.js */
.star {
  cursor: pointer;
  transition: color 200ms;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

#average_stars {
  display: flex;
  margin-top: 1rem;
}

/* Rating Statistics */

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  margin-top: 10px;
  float: left;
  width: 70%;
}

.ratings_statistics_row {
  margin-right: 0;
  margin-left: 0;
  margin-top: 1rem;
}

/* Place text to the right */
.right {
  text-align: right;
  width: 1rem;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar {
  height: 18px;
  background-color: rgb(126, 123, 123);
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}

/* @components/rating/RatingSummary.js */
#rating_summary_container {
  margin-top: 8rem;
}

#summary_item_row {
  margin-top: 2rem;
}

/* @components/rating/RatingsItem.js */
#rating_item {
  max-width: 100%;
}
