/* @global */
html {
  background-color: antiquewhite;
}

body {
  width: 80%;
  margin: 0 auto 0 auto;
}

/* @components/layout/Navbar.js */

/* @components/product/Description.js */

/* @components/product/Product.js */
#product_page_container {
  margin-top: 100px;
  max-width: 100%;
}

#description {
  display: flex;
}

#ratings {
  display: none;
}

#review_col {
  padding: 0;
}

#review_card {
  width: 100%;
}

#button_col {
  padding: 0;
  position: relative;
}

#write_review_button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
